---
import { Image } from "astro:assets";

import Investing from "assets/invested.jpg";
import Lobster from "assets/lobster.jpg";
import MaxHappy from "assets/max-happy.jpg";
import Women from "assets/women.jpg";
import HeadShave from "assets/head-shave.jpg";
---

<div class="grid grid-cols-4">
    <Image src={Investing} alt="some network getting invested on a beach" />
    <Image src={Lobster} alt="someone being shocked at lobster" />
    <Image src={MaxHappy} alt="max being happy on a boat" />
    <Image src={Women} alt="max being happy on a boat" />
    <Image src={HeadShave} alt="us shaving goerges head" />
</div>
